{% block content %}
<h2 class="title">Elice 회원가입</h2>
<hr>
<form class="card" action="{{ url_for('board.regist') }}" method="POST">
    <div class="card-body">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-sm-10">
                <input type="text" id='userId' class="form-control" name="email" placeholder="elice@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">이  름</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" name="name" placeholder="홍길동">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="userPw" name="pw">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Password Check</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="userPw2" name="pw2">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">회원가입하기</button>
        <a href="/login" class="btn btn-primary">로그인하기</a>
    </div>
</form>
<hr>
{% endblock %}