{% extends "base.html" %}
{% block scripts %}
<script>
    function writeReview() {
        let star = $("#star").val();
        let review = $("#review").val();

        if ("{{ session.get('login') }}" == "None") {
            alert("로그인 후 작성하실 수 있습니다.");
            window.location.reload();
            return ;
        }

        if (review == '') {
            alert("리뷰 내용을 입력해주세요.");
            return ;
        }

        $.ajax({
            url: "{{ url_for('board.review', book_id='%s' % book.id )}}",
            type: "post",
            data: {
                "star": star,
                "review": review
            },
            success: function(res) {
                if (res['result'] == 'success') {
                    alert("작성 완료");
                    window.location.reload();
                } else {
                    alert("?");
                }
            }
        })
    }

    function borrow() {
        // book/book_id/borrow 로 요청을 보내면?
        let result = confirm("정말 대여하시겠습니까?");

        if ("{{ session.get('login') }}" == "None") {
            alert("로그인 후 이용하실 수 있습니다.");
            window.location.reload();
            return ;
        }

        if ("{{ book.cur_amount }}" == 0) {
            alert("대여할 책이 없습니다.");
            window.location.reload();
            return ;
        }

        if ("{{ isBorrow }}" == "True") {
            alert("이미 대여한 책입니다.");
            window.location.reload();
            return ;
        }

        if (result) {
            $.ajax({
                url: "{{ url_for('board.borrow', book_id='%s' % book.id) }}",
                type: "post",
                success: function(res) {
                    if(res["result"] == "success") {
                        alert("대여했습니다.");
                        window.location.reload();
                    } else {
                        alert("대여에 실패했습니다.");
                    }
                }
            })
        }
    }

    function returnBook() {
        let result = confirm("정말 반납하시겠습니까?");

        if ("{{ session.get('login') }}" == "None") {
            alert("로그인 후 이용하실 수 있습니다.");
            window.location.reload();
            return ;
        }

        if ("{{ isBorrow }}" == "False") {
            alert("대여하지 않은 책입니다.");
            window.location.reload();
            return ;
        }

        if (result) {
            // book/book_id/returnBook
            $.ajax({
                url: "{{ url_for('board.returnBook', book_id='%s' % book.id) }}",
                type: "post",
                success: function(res) {
                    if(res["result"] == "success") {
                        alert("반납했습니다.");
                        window.location.reload();
                    } else {
                        alert("반납에 실패했습니다.");
                    }
                }
            })
        }
    }

    function delReview(event) {
        let review_id = event.target.attributes.key.value;

        let result = confirm("정말 댓글을 삭제하시겠습니까?");

        if ("{{ session.get('login') }}" == "None") {
            alert("로그인 후 이용하실 수 있습니다.");
            window.location.reload();
            return ;
        }

        if (result) {
            $.ajax({
                url: "{{ url_for('board.review', book_id='%s' % book.id )}}",
                type: "delete",
                data: {
                    "review_id": review_id
                },
                success: function(res) {
                    if(res["result"] == "success") {
                        alert("댓글이 삭제되었습니다.");
                        window.location.reload();
                    } else {
                        alert("삭제에 실패했습니다.");
                    }
                }
            })
        }
    }
</script>
{% endblock %}
{% block content %}
    <div class="bookDetail">
        <div class="grid">
            <div class="img">
                {% with img_src = url_for('static', filename='images/book_img/%s' % book.id) %}
                <img src="{{ img_src }}.png" onerror="this.src='{{ img_src }}.jpg'" alt="{{ book.book_name }} 표지">
                {% endwith %}
            </div>
            <div class="content">
                <h2 class="title">{{ book.book_name }}</h2>
                <p>저자: {{ book.author }}</p>
                <p>출판사: {{ book.publisher }}</p>
                <p>출간일: {{ book.publication_date.strftime('%Y-%m-%d') }}</p>
                <p>쪽수: {{ book.pages }}</p>
                <p>도서번호: {{ book.isbn }}</p>
                <p>평점: {% if avg_grade[1] %}{{ "%.1f"|format(avg_grade[1]) }} / 5{% else %}-{% endif %}</p>
                <p>대여: {% if book.cur_amount == 0 %}불가능{% else %}가능{% endif %}</p>
                <button onclick="borrow()">대여하기</button>
                <button onclick="returnBook()">반납하기</button>
            </div>
        </div>
        <div class="description">
            <p>{{ book.description }}</p>
            <p><a href="{{ book.link }}">구매하러가기</a></p>
        </div>
        <div class="reviews">
            <h2>리뷰</h2>
            <div lass="reviewForm">
                <p>
                    별점
                    <select name="star" id="star">
                        <option value="5">5점</option>
                        <option value="4">4점</option>
                        <option value="3">3점</option>
                        <option value="2">2점</option>
                        <option value="1">1점</option>
                    </select>
                </p>
                <textarea name="review" id="review" cols="100" rows="5"></textarea>
                <button onclick="writeReview()"> 작성 </button>
            </div>
            <div>
                {% for review in review_list %}
                <div class="review">
                    <p> {{ review.grade }}점 | {{ review.user_name }} | {{ review.review_date.strftime('%Y-%m-%d') }} {% if session.get("login") == review.user_id %}<button key="{{ review.id }}" onclick="delReview(event)">X</button>{% endif %}</p>
                    <p> {{ review.description }} </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}