<div class="wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('board.book_list', page_num=1) }}">엘리스 도서관</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if not session.get("login") %}
                    <a class="nav-link" href="/regist">회원가입</a>
                    <a class="nav-link" href="/login">로그인</a>
                    {% else %}
                    <a class="nav-link" href="/logout">대여목록</a>
                    <a class="nav-link" href="/logout">로그아웃</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <hr>
</div>